<app-life-cycle-child [name]="name" [age]="age"></app-life-cycle-child>

<input type="text"
       [ngStyle]="{'font-size':'13px', 'color': 'red'}"
       [ngClass]="{invisible: visibility}"
       [(ngModel)]="name"
/>
<input type="number"
       [ngClass]="currentClasses"
       [(ngModel)]="age"
/>
<button (click)="toggle()">Toggle</button>
