<div class="wrap-data">
  <div>
    <input type="text" [(ngModel)]="model" (keydown.enter)="addModel(model)">
    <button (click)="addModel(model)">Add brend</button>
  </div>

  <div>
    <ul *ngFor="let item of items let i = index">
      <li>{{i + 1}}. {{item}}</li>
    </ul>
  </div>

</div>
