.home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;

  a {
    text-decoration: none;
    font-size: 45px;
    color: #00A6A6;

    &:hover {
      color: #00FFFF;
    }
  }
}
