<p appBold>Привет {{name}}</p>

<div class="switch" [ngSwitch]="count">
  <p>Choose 1, 2 or 5</p>
  <label for="1">
    <input type="radio" id="1" [checked]="one" (click)="onSwitch(1)"/>1
  </label>
  <label for="2">
    <input type="radio" id="2" [checked]="two" (click)="onSwitch(2)"/>2
  </label>
  <label for="5">
    <input type="radio" id="5" [checked]="five" (click)="onSwitch(5)"/>5
  </label>
  =
  <ng-template ngSwitchCase="1">{{count * 10}}</ng-template>
  <ng-template ngSwitchCase="2">{{count * 100}}</ng-template>
  <ng-template ngSwitchDefault>{{count * 1000}}</ng-template>
</div>
