<div class="wrap-users">
  <h3>Users list</h3>
  <ul *ngFor="let user of users let i = index">
    <li>
      <div>id: {{user.id}}</div>
      <div>name: {{user.name}}</div>
      <div>email: {{user.email}}</div>
    </li>
  </ul>
</div>
