<div class="wrapper">
  <h1 class="logo">
    <a href="https://metanit.com" target="_blank">{{title}}</a>
  </h1>
  <nav class="nav">
    <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a>
    <a routerLink="/todo" routerLinkActive="active">Todo list</a>
    <a routerLink="/patterns" routerLinkActive="active">Patterns</a>
    <a routerLink="/test" routerLinkActive="active">Test</a>
  </nav>
</div>

<router-outlet></router-outlet>
