.wrapper {
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  height: 80px;
  padding: 0 20px;
  border-bottom: 2px solid black;
  box-sizing: border-box;
  background: #00A6A6;
}

.logo {
  a {
    text-decoration: none;
    color: black;

    &:hover {
      color: #5d5d5d;
    }
  }
}

.nav {
  a {
    margin-left: 10px;
    font-weight: bold;
    text-decoration: none;
    color: black;

    &:hover {
      color: #5d5d5d;
    }
  }
}

.active {
  color: red;
}
