<p>*****************************Двусторонняя привязка********************************</p>
<input type="text" [(ngModel)]="name" placeholder="name">
<br> <br>
<input type="text" [(ngModel)]="name" placeholder="name">
<p>{{name}}</p>
<p>***************************************************************</p>

<p>*****************************Привязка к атрибуту********************************</p>
<table border="1">
  <tr><td [attr.colspan]="colspan">one-two</td></tr>
  <tr><td>three</td><td>four</td></tr>
  <tr><td [attr.colspan]="colspan">five-six</td></tr>
</table>
<p>***************************************************************</p>

<p>*****************************Привязка к событию********************************</p>
<p appFontSize>Count clicks {{count}}</p>
<button (click)="onClick($event, true)">+ 1</button>
<button (click)="onClick($event, false)">- 1</button>
<p>***************************************************************</p>

<p>*****************************Привязка к классам CSS********************************</p>
<div class="div-red" [class.isRed]="isRed"></div>
<div class="div-red" [class.isRed]="!isRed"></div>
<input type="checkbox" [(ngModel)]="isRed">
<p>***************************************************************</p>

<p>*****************************Передача данных в дочерний компонент********************************</p>
<p appRed>Имя пользователя: {{userName}}</p>
<p appRed>Возраст пользователя: {{userAge}}</p>
<p>***************************************************************</p>

<p>*****************************Привязка к сеттеру********************************</p>
<p appBold>Model: {{brend}}</p>
<p appBold>Prise: {{prise}}</p>
<p>***************************************************************</p>

<p>*************************Привязка к событиям дочернего компонента****************************</p>
<button (click)="change(true)">+</button>
<button (click)="change(false)">-</button>
<p>***************************************************************</p>

<p>*****************Привязка к событиям дочернего компонента -> Двусторонняя привязка*****************</p>
<input [ngModel]="nik" (ngModelChange)="onNikChange($event)" />
<p>***************************************************************</p>
