.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;

  button,
  input,
  textarea {
    margin-left: 5px;
    border: none;
    outline: none;
  }

  button:focus,
  input:focus,
  textarea:focus {
    outline: none;
  }

  button {
    border-radius: 4px;
    background: #cd5c5c;
  }

  //.update {
  //  padding-left: 4px;
  //  padding-right: 4px;
  //}
  //
  //.delete {
  //  font-weight: bold;
  //}

  button:hover {
    background: #ff6a6a;
  }

  .addTodoWrap {
    position: fixed;
    top: 100px;

    .addTodo {
      width: 350px;
      padding: 5px;
      margin-bottom: 10px;
      border-bottom: 2px solid #950000;
      font-size: 20px;
    }

    .btn {
      position: absolute;
      left: 370px;
      width: 40px;
      height: 40px;
      border-radius: 100%;
      font-size: 30px;
      font-weight: bold;
      background: #00A6A6;

      &:active {
        width: 38px;
        height: 38px;
        font-size: 27px;
      }
    }
  }

  .todo-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 70px;
    list-style: none;
  }

  .todo {
    display: flex;
    align-items: baseline;
    max-width: 480px;
    padding: 5px;
    margin-bottom: 5px;
    border-bottom: 2px solid #00A6A6;
  }

  .todoIsDone {
    text-decoration: line-through;
  }

  .todoTitle {
    display: block;
    width: 300px;
    margin: 0 5px;
    font-size: 18px;
  }

  .todoTitleShow {
    word-wrap: break-word;
  }

  .todoTitleHide {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .updateTodo {
    width: 300px;
    height: 70px;
    margin: 0 5px;
    padding: 0 10px;
    border-bottom: 1px solid indianred;
    box-sizing: border-box;
    font-size: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .time {
    font-size: 10px;
  }

  .empty {
    margin-top: 70px;
  }
}
