<div class="wrapper">
  <div class="addTodoWrap">
    <input
      type="text"
      placeholder="Enter todo"
      class="addTodo"
      [(ngModel)]="title"
      (keydown.enter)="addTodo(title)"
    />
    <button class="btn" (click)="addTodo(title)">+</button>
  </div>
  <ul *ngIf="todoList.length; else noTodoList" class="todo-list">
    <li *ngFor="let todo of todoList; let i = index" class="todo">
      {{i + 1}}.
      <input type="checkbox" [checked]="todo.done" (change)="todoIsDone(todo.id)">
      <div *ngIf="!todo.edit"
        class="spanTitle"
        [ngClass]="{
          todoTitle: true,
          todoIsDone: todo.done,
          todoTitleShow: todo.show,
          todoTitleHide: !todo.show
        }"
        (click)="showAllContent(todo.id)"
      >
        {{todo.title}}
        <button *ngIf="todo.show" class="update" (click)="switchToEdit(todo.id)">✎</button>
      </div>
      <textarea *ngIf="todo.edit"
        [(ngModel)]="todo.title"
        [ngClass]="{
          todoIsDone: todo.done,
          updateTodo: true
        }"
      ></textarea>
      <span class="time">{{todo.time | date:'HH:mm, MMM d'}}</span>
      <button class="update" (click)="updateTodo(todo.id, todo.title)">✎</button>
      <button class="delete" (click)="deleteTodo(todo.id)">🗑</button>
    </li>
  </ul>

  <ng-template #noTodoList>
    <p class="empty">Todo list is empty</p>
  </ng-template>
</div>
