<div class="wrapper">
  <app-child
    [userName]="name"
    [userAge]="age"
    [brend]="brend"
    [inputPrise]="prise"
    (changed)="changed($event)"
    [(nik)]="nik"
  ></app-child>

  <p>*****************************Передача данных в дочерний компонент********************************</p>
  <input type="text" [(ngModel)]="name"> <br><br>
  <input type="text" [(ngModel)]="age">
  <p>***************************************************************</p>

  <p>*************************Привязка к событиям дочернего компонента****************************</p>
  <h2>Количество кликов: {{clicks}}</h2>
  <p>***************************************************************</p>

  <p>*****************Привязка к событиям дочернего компонента -> Двусторонняя привязка*****************</p>
  <p appBold>Выбранное имя: {{nik}}</p>
  <p>***************************************************************</p>

  <app-life-cycle></app-life-cycle>

  <app-data></app-data>
  <app-data></app-data>

  <app-users></app-users>
</div>
