body {
  margin: 0;
  padding: 0;
  font: 16px sans-serif;
}
::-webkit-scrollbar {
  width: 5px;
  height: 7px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #00A6A6;
}

::-webkit-scrollbar-thumb:hover {
  background: #00A6A6;
}
